body {
  background: #F5F5F5;
}
.container {
  margin: 0 32px;

}
header {
  padding: 32px 0;
}
header p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
}
.about {
  margin-top: 40px;
  margin-bottom: 138px;
}
.about p {
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
  width: 293px;
  font-family: 'Raleway', sans-serif;
}
.about p .bold {
  font-weight: 900;
  position: relative;
}
.about p .bottom-line {
  border-bottom: 2px dashed #6BA5EA;
}
.about p .circle::after {
  content: url(images/circulo.svg);
  position: absolute;
  top: -8px;
  left: -10px;
}
.about p .done::after {
  content: url(images/done.svg);
  position: absolute;
  right: -27px;
}
.email {
  margin-bottom: 88px;
}
.email a {
  display: flex;
  align-items: center;
}
.email img {
  margin-right: 6px;
}
.email a {
  text-decoration: none;
}
.email a p {
  font-size: 16px;
  font-weight: 500;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.projects {
  margin-bottom: 64px;
}
.projects a {
  text-decoration: none;
}
.projects .project {
  margin: 0 16px 48px 16px;
}
.projects .project .project-image,
.projects .project .project-title,
.projects .project .project-description {
  margin-bottom: 18px;
  font-family: 'Raleway', sans-serif;
}
.projects .project .project-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 26px;
}
.projects .project .project-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  margin-left: 8px;
  color: black;
}
.projects .project .project-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-left: 8px;
  color: black;
}
.projects .project .tags {
  display: flex;
  margin-left: 8px;
}
.projects .project .tags .tag {
  margin-right: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #6BA5EA;
  font-family: 'Raleway', sans-serif;
}

footer {
  padding: 25px 32px;
  background-color: #2B2A2A;
}
footer a {
  text-decoration: none;
}
footer .footer-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: white;
}
footer .footer-email {
  display: flex;
  align-items: baseline;
}
footer .footer-email img {
  margin-right: 14px;
}
footer .footer-email .footer-text{
  color: #6BA5EA;
}
footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 24px 0;
  line-height: 22px;
  color: white;
}